<%= form_for(@bank) do |f| %>
  <% if @bank.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bank.errors.count, "error") %> prohibited this bank from being saved:</h2>

      <ul>
      <% @bank.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :status %><br>
    <%= f.select(:status, options_for_select(['Active', 'Inactive']), {prompt: true}, {class: "form-control"}) %>
  </div>
  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :acc %><br>
    <%= f.text_field :acc, class:"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :holder_name %><br>
    <%= f.text_field :holder_name, class:"form-control" %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-raised btn-success" %>
  </div>

<% end %>