<div class="col-md-12">
  <div class="panel">
    <div class="panel-heading"><h3>Withdrawal Form</h3></div>
    <div class="panel-body">

      <%= form_for @request, html: { multipart: true } do |f| %>
        <% if @request.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>
            <ul>
            <% @request.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <% if @request.category == "Deposit" %>
          <h3><%= @request.game_name %></h3>
        <% end %>

        <div class="field">
          <%= f.file_field :image %>
        </div>
        <div class="field">
          <%= f.label :bank_name %><br>
          <%= f.text_field :bank_name, value: current_user.bank_name %>
        </div>
        <div class="field">
          <%= f.label :bank_acc %><br>
          <%= f.text_field :bank_acc, value: current_user.bank_acc %>
        </div>
        <div class="field">
          <%= f.label :amount %><br>
          <%= f.number_field :amount %>
        </div>
        <div class="field">
          <%= f.label :description %><br>
          <%= f.text_field :description %>
        </div><br>
        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>

    </div>
  </div>
</div>
