<div class="panel box-shadow-none content-header">
  <div class="panel-body">
    <div class="col-md-12">
        <h3 class="animated fadeInLeft">All Requests</h3>
        <p class="animated fadeInDown">
          Request <span class="fa-angle-right fa"></span> All Requests
        </p>
    </div>
  </div>
</div>

<div class="col-md-12 top-20 padding-0">
  <div class="col-md-12">

    <div class="panel">

      <div class="panel-heading"><h3>Pending Submissions</h3></div>
      <div class="panel-body">
          <div class="responsive-table">
            <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">

              <thead>
                <tr>
                  <th>Status</th>
                  <th>Category</th>
                  <th>Game name</th>
                  <th>Bank name</th>
                  <th>Bank acc</th>
                  <th>Amount</th>
                  <th>Remark</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @pendings.each do |request| %>
                  <tr>
                    <% if request.status == "Pending" %>
                      <td style="color:#F0AD4E;"><%= request.status %></td>
                    <% elsif request.status == "Approve" %>
                      <td style="color:#27C24C;"><%= request.status %></td>
                    <% elsif request.status == "Reject" %>
                      <td style="color:#FF6656;"><%= request.status %></td>
                    <% end %>
                    <td><%= request.category %></td>
                    <td><%= request.game_name %></td>
                    <td><%= request.bank_name %></td>
                    <td><%= request.bank_acc %></td>
                    <td><%= request.amount %></td>
                    <% if !request.reason.nil? %>
                      <td><%= request.reason %>
                    <% else %>
                      <td></td>
                    <% end %>
                    <td><%= link_to 'Show', request %></td>
                    <td><%= link_to 'Edit', edit_request_path(request) %></td>
                    <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
      </div>

    </div>
  </div>
</div>

<div class="col-md-12 top-20 padding-0">
  <div class="col-md-12">

    <div class="panel">

      <div class="panel-heading"><h3>All Requests</h3></div>
      <div class="panel-body">
        <div class="responsive-table">
          <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Status</th>
                <th>Category</th>
                <th>Game name</th>
                <th>Bank name</th>
                <th>Bank acc</th>
                <th>Amount</th>
                <th>Remark</th>
                <th colspan="3"></th>
              </tr>
            </thead>

            <tbody>
              <% @requests.each do |request| %>
                <tr>
                  <% if request.status == "Pending" %>
                    <td style="color:#F0AD4E;"><%= request.status %></td>
                  <% elsif request.status == "Approve" %>
                    <td style="color:#27C24C;"><%= request.status %></td>
                  <% elsif request.status == "Reject" %>
                    <td style="color:#FF6656;"><%= request.status %></td>
                  <% end %>
                  <td><%= request.category %></td>
                  <td><%= request.game_name %></td>
                  <td><%= request.bank_name %></td>
                  <td><%= request.bank_acc %></td>
                  <td><%= request.amount %></td>
                  <% if !request.reason.nil? %>
                    <td><%= request.reason %>
                  <% else %>
                    <td></td>
                  <% end %>                
                  <td><%= link_to 'Show', request %></td>
                  <td><%= link_to 'Edit', edit_request_path(request) %></td>
                  <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>