<div class="panel box-shadow-none content-header">
    <div class="panel-body">
      <div class="col-md-12">
          <h3 class="animated fadeInLeft">Request</h3>
          <p class="animated fadeInDown">
            Request <span class="fa-angle-right fa"></span> <%= @request.category %>
          </p>
      </div>
    </div>
</div>

<div class="col-md-6 top-20 padding-0">
  <div class="col-md-12">
    <div class="panel">

      <% if @request.status == "Pending" %>
        <div class="panel-heading" style="background:#F0AD4E;"><h3 style="color:white;"><%= @request.category %> ( <%= @request.status %> )</h3></div>
      <% elsif @request.status == "Approve" %>
        <div class="panel-heading" style="background:#27C24C;"><h3 style="color:white;"><%= @request.category %> ( <%= @request.status %> )</h3></div>        
      <% elsif @request.status == "Reject" %>
        <div class="panel-heading" style="background:#FF6656;"><h3 style="color:white;"><%= @request.category %> ( <%= @request.status %> )</h3></div>        
      <% end %>

      <div class="panel-body">
        <div class="responsive-table">
          <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">
            <tr>
              <td>Image:</td>
              <% if !@request.image_file_name.nil? %>
                <td><%= link_to "View Attachment", @request.image.url, target: '_blank' %></td>
              <% else %>
                <td>-</td>
              <% end %>
            </tr>
            <tr>
              <td>Game Name:</td>
              <% if @request.category == "Transfer" %>
                <td><strong><%= @request.game_name %></strong> --> <strong><%= @request.game_name_2 %></strong></td>
              <% else %>
                <td><%= @request.game_name %></td>
              <% end %>
            </tr>
            <tr>
              <td>Bank Name:</td>
              <td><%= @request.bank_name %></td>
            </tr>
            <tr>
              <td>Bank Account:</td>
              <td><%= @request.bank_acc %></td>
            </tr>
            <tr>
              <td>Amount:</td>
              <td>RM <%= @request.amount %></td>
            </tr>
            <tr>
              <td>User:</td>
              <td><%= @request.user.name %></td>
            </tr>
            <tr>
              <td>Description:</td>
              <td><%= @request.description %></td>
            </tr>
            <tr>
              <td>Remark:</td>
              <td><%= @request.reason %></td>
            </tr>     
            <% if current_user.role.name == "Admin" || current_user.role.name == "Super Admin" %>
              <tr>
                <td>Approved by:</td>
                <td><%= @request.approved_by %></td>
              </tr>
            <% end %>    
          </table>
        </div>

      <% if current_user.role.name == "Admin" || current_user.role.name == "Super Admin" %>
        <div class="col-md-6 text-center">
          <% if @request.status == "Pending" %>
            <%= form_for(@request) do |f| %>
              <div class="form-group">
                <%= f.label :reason, "Remark for approve:" %>
                <%= f.text_field :reason, class: "form-control" %>
              </div>          
              <div class="form-group">
                <%= f.hidden_field :status, value: "Approve" %>
                <%= f.submit "Approve!", class: "btn btn-raise btn-success" %>
              </div>
            <% end %>
          </div>
        
          <div class="col-md-6 text-center">
            <%= form_for(@request) do |f| %>
              <div class="form-group">
                <%= f.label :reason, "Remark for reject:" %>
                <%= f.text_field :reason, class: "form-control" %>
              </div>
              <div class="form-group">
                <%= f.hidden_field :status, value: "Reject" %>
                <%= f.submit "Reject!", class: "btn btn-raise btn-danger" %>
              </div>
            <% end %>
          <% end %>
        </div>

      <% end %>

      </div>
    </div>
  </div>
</div>