<!DOCTYPE html>
<html>
<head>
  <title>Myapp</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

	<body id="mimin" class="dashboard">
		<!-- start: Header -->
		<nav class="navbar navbar-default header navbar-fixed-top">
			<div class="col-md-12 nav-wrapper">
	            <div class="navbar-header" style="width:100%;">
	              <div class="opener-left-menu is-open">
	                <span class="top"></span>
	                <span class="middle"></span>
	                <span class="bottom"></span>
	              </div>
	                <a href="#" class="navbar-brand"> 
	                 <b>GAME</b>
	                </a>
	              <ul class="nav navbar-nav navbar-right user-nav">
	              	<% if !current_user.nil? %>
	                  <li class="user-name"><span>Welcome, <%= current_user.name %></span></li>
	                <% end %>
	                <% if !current_user.nil? %>
						<li><%= link_to '<span class="fa fa-sign-out"></span> Sign out'.html_safe, destroy_user_session_path, method: :delete %></li>
	                <% else %>
	                	<li><%= link_to '<span class="fa fa-users"></span> Sign in'.html_safe, new_user_session_path %></li>
	                <% end %>
	              </ul>
	            </div>
	         </div>
		</nav>
		<!-- end: Header -->

		<div class="container-fluid mimin-wrapper">
			<!-- start: Left Menu -->
			<div id="left-menu">
		      <div class="sub-left-menu scroll">
		        <ul class="nav nav-list">
		            <li><div class="left-bg"></div></li>
		            <li class="time">
		              <h1 class="animated fadeInLeft">21:00</h1>
		              <p class="animated fadeInRight">Sat,October 1st 2029</p>
		            </li>
		            <li class="active ripple">
		              <%= link_to root_url, class: 'nav-header' do %>
		              	<span class="fa-home fa"></span> Home 
		                <span class="fa-angle-right fa right-arrow text-right"></span>
		              <% end %>
		            </li>
		            <li class="ripple">
		              <% if !current_user.nil? %>
			              <%= link_to user_accounts_path(current_user), class: 'nav-header' do %>
			            	<span class="fa-diamond fa"></span> Game Accounts
			            	<span class="fa-angle-right fa right-arrow text-right"></span>
			              <% end %>
		              <% end %>
		            </li>
		            <li class="ripple">
		              <%= link_to requests_path, class: 'nav-header' do %>
		            	<span class="fa-table fa"></span> All Requests
		            	<span class="fa-angle-right fa right-arrow text-right"></span>
		              <% end %>
		            </li>		            
		            <li class="ripple">
		              <%= link_to new_request_path(category: "Deposit"), class: 'nav-header' do %>
		            	<span class="fa-money fa"></span> Deposit
		            	<span class="fa-angle-right fa right-arrow text-right"></span>
		              <% end %>
		            </li>
		            <li class="ripple">
		              <%= link_to new_request_path(category: "Withdrawal"), class: 'nav-header' do %>
		            	<span class="fa-money fa"></span> Withdrawal
		            	<span class="fa-angle-right fa right-arrow text-right"></span>
		              <% end %>
		            </li>
		            <li class="ripple">
		              <%= link_to new_request_path(category: "Transfer"), class: 'nav-header' do %>
		            	<span class="fa-money fa"></span> Transfer
		            	<span class="fa-angle-right fa right-arrow text-right"></span>
		              <% end %>
		            </li>		            
		            <li class="ripple">
		              <%= link_to edit_user_registration_path, class: 'nav-header' do %>
		            	<span class="fa fa-cogs"></span> Account  
		            	<span class="fa-angle-right fa right-arrow text-right"></span> 
		              <% end %>
		            </li>
		            <li class="ripple">
		              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-header' do %>
		              	<span class="fa fa-sign-out"></span> Sign Out  
		              	<span class="fa-angle-right fa right-arrow text-right"></span> 
		              <% end %>
		            </li>
		        </ul>
		      </div>
			</div>
			<!-- end: Left Menu -->

			<!-- start: Content -->
			<div id="content">
				<% flash.each do |name, msg| %>
					<div class="alert" style="margin-bottom:0px; background-color:#fff;">
						<%= content_tag :div, msg, id: "flash#{name}" %>
					</div>
				<% end %>
				<%= yield %>
			</div>
			<!-- end: Content -->
		</div>

		<!-- start: Mobile -->
		<div id="mimin-mobile" class="reverse">
	        <div class="mimin-mobile-menu-list">
	            <div class="col-md-12 sub-mimin-mobile-menu-list animated fadeInLeft">
	                <ul class="nav nav-list">
	                    <li class="active ripple">
			              <%= link_to root_url, class: 'nav-header', 'data-no-turbolink' => true do %>
	                        <span class="fa-home fa"></span> Home 
	                        <span class="fa-angle-right fa right-arrow text-right"></span>
	                      <% end %>
	                    </li>
	                    <li class="ripple">
			              <% if !current_user.nil? %>
				              <%= link_to user_accounts_path(current_user), class: 'nav-header', 'data-no-turbolink' => true do %>
				            	<span class="fa-diamond fa"></span> Game Accounts
				            	<span class="fa-angle-right fa right-arrow text-right"></span>
				              <% end %>
			              <% end %>
	                    </li>
			            <li class="ripple">
			              <%= link_to requests_path, class: 'nav-header', 'data-no-turbolink' => true do %>
			            	<span class="fa-table fa"></span> All Requests
			            	<span class="fa-angle-right fa right-arrow text-right"></span>
			              <% end %>
			            </li>		            	                    
	                    <li class="ripple">
			              <%= link_to new_request_path(category: "Deposit"), class: 'nav-header', 'data-no-turbolink' => true do %>
			            	<span class="fa-money fa"></span> Deposit
			            	<span class="fa-angle-right fa right-arrow text-right"></span>
			              <% end %>
	                    </li>
	                    <li class="ripple">
			              <%= link_to new_request_path(category: "Withdrawal"), class: 'nav-header', 'data-no-turbolink' => true do %>
			            	<span class="fa-money fa"></span> Withdrawal
			            	<span class="fa-angle-right fa right-arrow text-right"></span>
			              <% end %>
	                    </li>
			            <li class="ripple">
			              <%= link_to new_request_path(category: "Transfer"), class: 'nav-header', 'data-no-turbolink' => true do %>
			            	<span class="fa-money fa"></span> Transfer
			            	<span class="fa-angle-right fa right-arrow text-right"></span>
			              <% end %>
			            </li>		            	                    
	                    <li class="ripple">
			              <%= link_to edit_user_registration_path, class: 'nav-header', 'data-no-turbolink' => true do %>
			            	<span class="fa fa-cogs"></span> Account  
			            	<span class="fa-angle-right fa right-arrow text-right"></span> 
			              <% end %>
	                    </li>
	                    <li class="ripple">
			              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-header', 'data-no-turbolink' => true do %>
			              	<span class="fa fa-sign-out"></span> Sign Out  
			              	<span class="fa-angle-right fa right-arrow text-right"></span> 
			              <% end %>
	                    </li>
	                </ul>
	            </div>
	        </div>       
	      </div>
	      <button id="mimin-mobile-menu-opener" class="animated rubberBand btn btn-circle btn-primary">
	        <span class="fa fa-bars"></span>
	      </button>
	       <!-- end: Mobile -->

		<%= javascript_include_tag 'application', 'data-turbolinks-eval' => false %>

	</body>
</html>

