<div class="panel box-shadow-none content-header">
  <div class="panel-body">
    <div class="col-md-12">
        <h3 class="animated fadeInLeft">Game Accounts</h3>
        <p class="animated fadeInDown">
          Account <span class="fa-angle-right fa"></span> Game Accounts
        </p>
    </div>
  </div>
</div>

<div class="col-md-12 top-20 padding-0">
  <div class="col-md-12">

    <div class="panel">

      <div class="panel-heading"><h3>Game Accounts</h3></div>
      <div class="panel-body">

        <div class="responsive-table">
          <table id="datatables-example" class="table table-striped table-bordered" width="100%" cellspacing="0">

            <thead>
              <tr>
                <th>User</th>
                <th>Game</th>
                <th>Username</th>
                <th>Password</th>
                <th>Download Link</th>
                <% if current_user.role.name == "Admin" || current_user.role.name == "Super Admin" %>
                  <th colspan="3"></th>
                <% end %>
              </tr>
            </thead>

            <tbody>
              <% @accounts.each do |account| %>
                <tr>
                  <td><%= account.user.name %></td>
                  <td><%= account.application.name %></td>
                  <td><%= account.username %></td>
                  <td><%= account.password %></td>
                  <td><%= link_to "Download Here", account.application.link_one, target: "_blank" %></td>
                  <% if current_user.role.name == "Admin" || current_user.role.name == "Super Admin" %>
                    <td><%= link_to 'Show', [account.user, account] %></td>
                    <td><%= link_to 'Edit', edit_user_account_path(account.user, account) %></td>
                    <td><%= link_to 'Destroy', [account.user, account], method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>

      </div>
    </div>
  </div>
</div>
<!-- 
<%= link_to 'New Account', new_user_account_path %>
<%= link_to 'Other users', users_path %> -->