<p>
  <strong>User:</strong>
  <%= @account.user.name %>
</p>

<p>
  <strong>Game:</strong>
  <%= @account.application_id %>
</p>

<p>
  <strong>Username:</strong>
  <%= @account.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @account.password %>
</p>

<%= link_to 'Edit', edit_user_account_path(@account.user, @account) %> |
<%= link_to 'Back', user_accounts_path(@account.user) %>
